div.abrirImagem{
    opacity: 0;
    background-color: rgba(0,0,0,0.9);
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 20;
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

div.abrirImagem div.panel{
    background-color: white;
    border-radius: 10px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

div.panel div.viewport{
    display: flex;
    align-items: center;
    justify-content: center;
}

div.viewport img#openedImage{
    width: 90%;
    max-height: 650px;
    max-width: 650px;
}

div.panel p.comment{
    margin: 0;
    text-align: center;
    font-family: 'Calibri','Arial';
    font-weight: 500;
    font-size: 22px;
}

@media screen and (max-width: 650px){
    div.panel p.comment{
        font-size: 16px;
    }

    div.abrirImagem div.panel{
        border-radius: 0;
    }
}