div.block{
    display: flex;
    width: 100%;
}

div.block div.subblock{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    flex: 1;
    user-select: text;
}

div.block div.subblock p{
    font-size: 16px;
    margin: 0.5rem 0;
    color: rgb(32, 32, 32);
}

div.block div.subblock strong {
    font-weight: 700;
    color: black;
}

div.block div.subblock .title {
    margin-right: auto;
    margin-bottom: 5px;
}

div.content {
    font-family: 'Roboto', cursive;
    padding: 100px 75px;
}

div.block div.subblock div.info {
    border-width: 2px;
    border-color: black;
    border-radius: 5px;
    border-style: solid;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin-left: 50px;
}

div.block div.subblock div.info img {
    padding: 10px;
    object-fit: contain;
}

div.block div.subblock div.info div.line {
    display: flex;
    color: white;
    background: black;
    padding: 4px 10px;
    font-size: 14px;
    align-items: center;
    flex-wrap: wrap;
    margin: 1px 0px;
}

div.block div.subblock div.imagecontainer {
    margin: 10px 0px;
    display: flex;
    flex-wrap: wrap;
    row-gap: 10px;
    column-gap: 10px;
}

div.block div.subblock div.imagecontainer img {
    border-radius: 10px;
    width:300px;
    height: auto;
    margin: auto;
}

div.block div.subblock div.info div.line div.values {
    display: flex;
    flex-direction: column;
    margin-right: auto;
    flex: 1;
}

div.block div.subblock div.info div.line div.name {
    flex: 1;
    font-weight: 700;
    margin: auto;
}

div.block div.subblock div.info div.line div.values  div.value {
    font-size: 14px;
}

div.block div.infosub {
    flex: 30%
}

div.subblock a {
    color: #2f0c7a;
    text-decoration: none;
}

div.subblock div.alert {
    display: flex;
    align-items: center;
    padding: 10px;
    margin: 10px 0px;
    border-width: 1px;
    border-style: solid;
    border-radius: 5px;
    row-gap: 10px;
}

div.subblock div.alert span{
    margin: 10px 0px;
}

div.subblock div.spoiler{
    color: #ec0000 !important;
    border-color: #ec0000;
}

div.subblock div.fandom{
    color: #2f0c7a !important;
    border-color: #2f0c7a;
}

div.subblock div.alert span{
    text-align: center;
}


div.block div.subblock div.separatorline {
    width: 100%;
    height: 1px;
    background: rgba(0,0,0,0.3);
}

@media screen and (max-width: 1460px) {
    div.block div.infosub {
        flex: 50%
    }
}

@media screen and (max-width: 1024px) {
    div.block div.infosub {
        flex: 70%;
    }

    div.block div.subblock p{
        font-size: 15px;
    }

    div.block div.subblock div.info div.line div.values div.value, div.block div.subblock div.info div.line  {
        font-size: 14px;
    }

    div.block div.alert img {
        height: 64px;
    }
    
    div.block div.alert span {
        font-size: 14px !important;
    }
}


@media screen and (max-width: 640px) {
    div.block div.infosub {
        flex: 90%;
    }

    div.block {
        flex-direction: column-reverse;
        justify-content: center;
        align-items: center;
    }

    div.block div.subblock div.info {
        margin-left: 0;
        margin-bottom: 25px;
        margin-top: 25px;
    }

    div.block div.alert span {
        font-size: 13px !important;
    }
}