div.header,
div.footer {
    display: flex;
    flex-direction: row;
    align-items: center;
}

div.header {
    background-color: white;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    border-bottom-color: black;
    border-top-width: 0px;
    border-left-width: 0px;
    border-right-width: 0px;
    border-bottom-width: 3px;
    border-style: solid;
}

div.topmenus{
    position: fixed;
    z-index: 9;
    width: 100%;
    display: flex;
    flex-direction: column;
}

div.topmenus div.mobileMenu{
    width: 100%;
    display: none;
}

div.mobileMenu div.btn{
    padding: 5px 20px;
    text-align: center;
    background-color: black;
    color: white;
    font-size: 36px;
    font-family: 'OMORIGAME';
}

div.mobileMenu div.btn:hover{
    background-color: rgb(85, 85, 85);
    color: black;
    cursor: pointer;
}

div.footer p {
    font-family: 'Calibri';
    color: white;
    font-size: 24px;
    text-align: center;
}

div.footer {
    padding: 15px;
    background-color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
}

div.footer span {
    font-family: 'OMORIGAME';
}

div.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 18%;
    opacity: 0;
    background: white;
    padding: 100px;
    border-left-width: 4px;
    border-right-width: 4px;
    border-style: solid;
    border-color: black;
    overflow: hidden;
}

div.hands img.hand {
    height: 10vw;
    max-height: 52px;
    margin: 0px 15px;
}

div.hands img.hcima {
    transform: rotate(0deg);
}

div.hands img.hbaixo {
    transform: rotate(180deg);
}

div.content div.hands {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    padding: 15px 0px;
}

div.header img.logo {
    height: 8vw;
    min-height: 64px;
    max-height: 90px;
    margin-left: 15px;
}

div.headermenu{
    display: flex;
    flex-direction: column;
    align-items: center;
}

span.menuBTN {
    font-size: 0px;
    margin: 0px 15px;
}

div.submenu {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

a {
    text-decoration: none;
    color: white;
}

body {
    background-color: white;
    user-select: none;
}

img {
    pointer-events: none;
}

img.handextra {
    display: block;
}

img.miau {
    height: 64px;
    margin-right: 20px;
    pointer-events: all;
    cursor: pointer;
    margin-left: auto;
}

/* modificações para mobile */

@media screen and (max-width: 960px) {
    span.menuBTN {
        font-size: 42px;
        margin-right: auto;
    }

    span.menuBTN:hover{
        cursor: pointer;
    }

    div.menus {
        display: none;
    }

    span.menuBTN:hover div#mobileMenu{
        display: block;
    }

    div.header{
        border-radius: 0;
    }

    img.handextra {
        display: none;
    }

    div.content {
        margin: 0 10%;
    }
}