div.trailer video {
    height: 35vw;
    min-height: 250px;
    border-radius: 25px;
}

div.downloadBTN img {
    width: 8vw;
    margin: 20;
    min-width: 200px;
    pointer-events: all;
}

div.trailer {
    margin-top: 100px;
    display: flex;
    align-items: center;
    flex-direction: column;
    opacity: 0;
}

div.experience div.box {
    display: flex;
    opacity: 0;
    margin: 64px 0px;
}

div.box div.imageandheader {
    padding: 20px;
}

div.imageandheader p {
    font-family: 'Roboto';
}

div.imageandheader div.cards {
    display: flex;
    align-items: center;
    justify-content: center;
}

div.cards img {
    height: 22vw;
    position: relative;
    max-height: 200px;
    margin: 0 15px;
    border-radius: 10px;
    border-width: 4px;
    border-color: rgba(0, 0, 0, 0.295);
    border-bottom-style: solid;
    border-right-style: solid;
    -webkit-transition: all .25s ease;
    -moz-transition: all .25s ease;
    -o-transition: all .25s ease;
    -ms-transition: all .25s ease;
    transition: all 0.25s ease;
}

div.box img.headImage {
    border-radius: 20px;
    border-width: 4px;
    border-color: black;
    border-style: solid;
    object-fit: cover;
    max-width: 600px;
    width: 30vw;
    height: auto;
    -webkit-transition: all .25s ease;
    -moz-transition: all .25s ease;
    -o-transition: all .25s ease;
    -ms-transition: all .25s ease;
    transition: all 0.25s ease;
}

div.experience span.header,
div.trailer span.header {
    font-family: 'Roboto';
    font-size: 36px;
    text-align: end;
    font-weight: 700;
    margin-right: 20px;
}

div.intro {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 15px;
}

div.introDialogo {
    max-width: 800px;
    display: flex;
    flex-direction: column;
    position: relative;
}

img.headImage:hover, div.cards img:hover{
    -webkit-filter: brightness(50%);
   filter: brightness(50%);
}

div.intro img.omori {
    height: 25vw;
    min-height: 215px;
}

div.left {
    background-color: white;
    border-radius: 10px;
    border-color: black;
    border-width: 5px;
    width: 15vw;
    border-style: solid;
}

/* modificações para mobile */

@media screen and (max-width: 960px) {

    div.experience span.header,
    div.trailer span.header {
        font-size: 48px;
        text-align: right;
    }

    div.experience span.header,
    div.trailer span.header {
        font-size: 24px;
    }

    div.downloadBTN img{
        min-width: 150px;
    }

    div.trailer video{
        min-height: 150px;
    }

    div.box {
        flex-direction: column-reverse;
    }

    div.invertedBox {
        flex-direction: column !important;
    }

    div.box img.headImage{
        width: 100%;
        margin: auto;
    }

    p.dialogName{
        font-size: 32px;
    }
}

/* correção para telas muito pequenas */

@media screen and (max-width: 600px) {
    div.intro img.omori{
        min-height: 150px;
    }

    div.content div.hands {
        overflow: hidden;
    }

    div.header img.logo{
        min-height: 46px;
    }
}

/* correção para desktop */

@media screen and (max-width: 1280px) {
}